
img.img-responsive.bottom-pix{
  float: right;
}

.bottom-footer {
  background-color: rgb(124, 80, 80);
  height: 100px;
  padding: 0px 12em;
  color: white;
}

.text-left {
  width: 45%;
  float: left;
  padding-top: 3em;
}

.company-logo {
  width: 50%;
  float: right;
  padding-top: 1.5em;
}

img.img-responsive.logo-image {
  margin: auto;
}


.social-footer {
  background-color: rgb(221, 190, 190);
  padding: 3em
}

.address {
  text-align: center;
  padding: 2em;
}
