a.nav-menu {
  margin-right: 7em;
  color: white;
  text-decoration: none;
}

.nav-logo {
  max-width: 45%;
  float: left;
}

.nav-button {
  max-width: 45%;
  float: right;
  margin: 0em;
}


a.nav-menu.tempo {
  color: rgb(202, 165, 160);
}

.nav-bar-tempo {
  height: 6em;
  padding: 2em;
}


.navbar{
  margin-bottom: 0;
  padding: 0 5em;
}
