<div class="row first_component">

  <div class="col-md-6">
    <h4>NOW SERVING</h4>
    <p>
      Our menu represents the beats and flavors we can't get enough of,
      because treating yo'self should be a multisensory experience.
    </p>
    <%= link_to "View Products", products_path, class: "btn btn-primary" %>
  </div>
  <div class="col-md-6">
    <img src="http://i.imgur.com/WUWed4U.jpg" class="img-responsive" alt="Responsive image">
  </div>
</div>

<div class="row second-component">
  <h4>LATEST NEWS</h4>
  <div class=col-md-6>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-6">
          <%= image_tag product.pic_url, class: "img-responsive",  alt: "Responsive image" %>
        </div>
        <div class="col-md-12">
          <%= product.highlight %>
        </div>

      <%end%>
    </div>
</div>
  <div class="col-md-6">
    <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A2rp5riHULWgrXPsDtsp1ir&theme=white" width="550" height="600" frameborder="0" allowtransparency="true"></iframe>
  </div>

</div>
