<div class="nav-bar-tempo">
  <div class="nav-logo">
   <a href="/">
              <img src="http://i.imgur.com/gyo58au.png" class="img-responsive logo-image-top" alt="Responsive image">
  </a>
  </div>
  <div class="nav-button">
    <%= link_to "Products", products_path, class: "nav-menu tempo" %>
    <%= link_to "News", product_path, class: "nav-menu tempo" %>
  </div>
</div>
