<div class="new-page">
	<div class="slogan bites">
		bites
	</div>
</div>
<div class="container">
	<%= form_tag('/products/checked', remote: true, method: :get, id: 'product-form') do %>
	  	<ul>
	  		<% @categories.each do |category| %>
		  		<li class='box-check'>
			  		<%= check_box_tag 'ids[]', category.id, category.check_box %>
					<%= label_tag category.name %>
				</li>
			<%end%>
	  	</ul>
	<%end%>

	<div class="row product-check">
		<%= render partial: 'product' %>
	</div>
</div>
