<!DOCTYPE html>
<html>
<head>
  <title>Flonuts</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'></head>

<body class="container-fluid">
  
    <%= yield %>
  <footer>
    <div class="social-footer">
      <img src="http://i.imgur.com/xL14760.png" class="img-responsive logo-image" alt="Responsive image">
      <div class="row text-center">
        <div class="col-xs-4 text-center"></div>
        <div class="col-xs-4 text-center">
          <div class="col-xs-4 text-center">
            <img src="http://i.imgur.com/rLsgIFf.png" class="img-responsive social-image" alt="Responsive image">
          </div>
          <div class="col-xs-4 text-center">
            <img src="http://i.imgur.com/rLsgIFf.png" class="img-responsive social-image" alt="Responsive image">
          </div>
          <div class="col-xs-4 text-center">
            <img src="http://i.imgur.com/rLsgIFf.png" class="img-responsive social-image" alt="Responsive image">
          </div>
        </div>
        <div class="col-xs-4 text-center"></div>
      </div>
      <div class="address">675 Bering Drive, Houston, TX 77057</div>
    </div>
    <div class="bottom-footer">
      <div class="text-left">Copyright 2015 Flonuts</div>
      <div class="company-logo">
        <img src="http://i.imgur.com/AAiNVd3.png" class="img-responsive bottom-pix company-image" alt="Responsive image">
      </div>
    </div>
  </footer>
</body>
</html>
